{% extends 'layouts/admin.html.twig' %}

{% block admin_title %}Roles{% endblock %}

{% block admin_content %}

<div class="bg-white p-6 rounded shadow">

<h2 class="font-semibold mb-4">Roles</h2>

<ul class="space-y-2">
<li>Admin</li>
<li>Manager</li>
<li>Staff</li>
</ul>

</div>

{% endblock %}