<!-- SEARCH ROW -->
<div id="quick-search-row" class="mt-3 w-full flex flex-col sm:flex-row sm:items-center gap-2">
    <input type="text" id="transaction-search" placeholder="Search transactions..." class="w-full sm:max-w-md md:max-w-lg px-3 py-2 rounded border border-gray-300 focus:outline-none focus:ring focus:ring-blue-200 text-sm" />

</div>
