{% extends 'layouts/minimal.html.twig' %}

{% block title %}About{% endblock %}

{% block content %}

    <h1 class="text-xl font-bold mb-4">About</h1>

    <p>Customer Intelligence CRM</p>

{% endblock %}
