{% extends 'layouts/minimal.html.twig' %}

{% block title %}Minimal Home{% endblock %}

{% block content %}

    <h1 class="text-2xl font-bold mb-4">Minimal Layout</h1>

    <p>This page uses the minimal layout.</p>

{% endblock %}
