{% extends 'layouts/minimal.html.twig' %}

{% block title %}Print View{% endblock %}

{% block content %}

    <h1 class="text-xl font-bold mb-4">Printable Page</h1>

    <p>This page is optimized for printing.</p>

{% endblock %}
