{% extends 'layouts/minimal.html.twig' %}

{% block title %}System Status{% endblock %}

{% block content %}

    <h1 class="text-xl font-bold mb-4">System Status</h1>

    <p>System running normally.</p>

{% endblock %}
